body{
  background-image: url(117717328_620185475355621_45742888129778110_o.jpg);
  background-size: cover;

}
#d1{
  text-align: center;
  color: white;
  font-size: 39px;
  font-family: cursive;
}
#d2{
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: cursive;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
label{
  color: white;
  font-size: 30px;
}
h2{
  color: white;
  font-size: 32px;
}
